<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <label for="">Semester name</label>
        <input type="text" name="txt_sem">
        <label for="">Exam mark</label>
        <input type="text" name="txt_exam_mark">
        <label for="">CE Mark</label>
        <input type="text" name="txt_ce">
        <button type="submit">Submit</button>
    </form>
</body>
</html>