<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <div><h1>LOGIN</h1></div>
        <div><label for="">Username</label>
        <input type="text" name="txt_username" id=""></div>
        <div><label for="">Password</label>
        <input type="password" name="txt_password"></div>
        <div><button type="submit">Login</button></div>
    </form>
    <div>
        <a href="{% url 'password_reset_request' %}">Forgot password</a>
    </div>
    {% if err %}
    <p>{{err}}</p>
    {% endif %}
</body>
</html>